.homepage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
}
@media only screen and(min-device-width:0px) and(max-device-width:300px) {
  .homepage {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and(min-device-width:300px) and(max-device-width:500px) {
  .homepage {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and(min-device-width:500px) and(max-device-width:700px) {
  .homepage {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and(min-device-width:700px) and(max-device-width:900px) {
  .homepage {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and(min-device-width:900px) and(max-device-width:1100px) {
  .homepage {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and(min-device-width:1100px) and(max-device-width:1300px) {
  .homepage {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and(min-device-width:1300px) and(max-device-width:1500px) {
  .homepage {
    grid-template-columns: repeat(7, 1fr);
  }
}
